html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 4.3%;
}
.container .logo-contianer {  
    display: flex;
    justify-content: center;
    border-radius: 8px;
    margin-right: 3.6%;
}
.main {
    width: 33%;
    border: solid lightgrey 1px;
    border-radius: 8px;
}
.img {
    margin-top: 35px;
    width: 75px;
    padding: 11px;
    margin-left: 13px;
}
.sign-in {
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
    font-size: 24px;
    font-weight: 400;
}
.google {
    color: #202124;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: .1px;
    line-height: 1.5;
    padding-top: 12px;
    font-family: sans-serif;
}
.input1{
    padding: 19px 15px;
    width: 100%;
}
.btn {
    color: blue;
    background-color: white;
    border: white;
    display: flex;
    padding-top: 9px;
}
.form-container{
    width: 76%;
    margin: auto;
}
