html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 4.3%;
}
.container .logo-contianer {  
    display: flex;
    justify-content: center;
    border-radius: 8px;
    margin-right: 3.6%;
    padding: 10px;
}
.main {
    width: 33%;
    border: solid lightgrey 1px;
    border-radius: 8px;
    font-size: 14px;
    padding-bottom: 6%;
}
.img {
    margin-top: 35px;
    width: 78px;
    margin-left: 3.2%;
}
.sign-in {
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
    font-size: 24px;
    font-weight: 400;
    padding: 1%;
}
.google {
    color: #202124;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .1px;
    line-height: 1.5;
    padding-top: 8px;
    font-family: sans-serif;
}
.input1{
    width: 100%;
    border-radius: 4px;
    border: solid lightgrey 1px;
    font-size: 16px;
    margin: 1px 1px 0 1px;
    padding: 5% 15px;
    z-index: 1;
}
.btn {
    color: blue;
    background-color: white;
    border: white;
    display: flex;
    padding-top: 2%;
    cursor: pointer;
}
.form-container{
    width: 82%;
    margin: auto;
}
.issue {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.4286;
    color: #5f6368;
    padding-top: 12%;
    padding-right: 40px;
    width: 108%;
    text-align: left;
}
.btnDIV {
    text-align: left;
    font-size: inherit;
    letter-spacing: normal;
    font-weight: 500;
}
.learn {
    white-space: normal;
    color: blue;
    background-color: white;
    border: white;
    padding-left: 0px;
    font-size: unset;
    cursor: pointer;
}
.create-acc {
    cursor: pointer;
}
.account {
    color: blue;
    background-color: white;
    border: white;
    font-weight: 700;
    font-family: sans-serif;
    margin-left: -74%;
    padding-top: 12%;
    cursor: pointer;
}
.next {
    color: white;
    background-color: #1a73e8;
    border: #1a73e8;
    font-family: sans-serif;
    width: 78PX;
    height: 37px;
    margin-left: 289px;
    display: block;
    margin-top: -24px;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
}
.nextDIV {
    cursor: pointer;
}